[nginx]
format = "$http_x_forwarded_for - $remote_user [$time_local]  \"$request\" $status $body_bytes_sent \"$http_referer\" \"$http_user_agent\" $request_time $upstream_response_time $gzip_ratio"

[database]
file = "./log-analyse.sqlite"

[ingest]
piggyBackDigest = true

[digest]
rbfsLayerCap = 1
minPathPermutations = 1
uriRegex = "*"
